{
    "requireConfig": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "requirePragma": false,
    "proseWrap": "preserve"
}